{% extends 'base.html.twig' %}
<<<<<<< HEAD
{% block body %}
<!--==================== CSS ====================-->
        <link rel="stylesheet" href="{{ asset('css/style-folder.css') }}">

        
    </head>
    <body>
        <section class="section__card">
        <h1>Liste des matières </h1>
        <div class="cards">
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
            <div class="card">
                <h2>Begot Kévin</h2>
                <a href="http://kevin-begot.fr/" class="button">Voir le Portfolio</a>
            </div>
          
        </section>
    </body>
</html>
=======

{% block body %}

<link rel="stylesheet" href="{{ asset('css/folder-style.css') }}">
    <section class="section__card">
        <div class="cards">
            {% for ressource in ressources %}
                <div class="card">
                    <h2>{{ressource.name}}.{{ressource.extension}}</h2>
                    <a href={{ressource.id}} class="button">
                        <p>Télécharger</p>
                    </a>
                </div>
            {% endfor %}
            
        </div>
        
    </section>
>>>>>>> dev

{% endblock %}