{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted('ROLE_TEACHER') or is_granted('ROLE_ADMIN') %}
    <a id="menu" href="{{ path("teacher_upload") }}">Ajoutez un fichier</a>
{% endif %}

<link rel="stylesheet" href="{{ asset('css/style-folder.css') }}">

    <section class="section__card">
                {% for message in app.flashes('erreur') %}
            <h3 class="erreur">{{message}}</h3>
        {% endfor %}
        {% for message in app.flashes('info') %}
            <h3 class="validation">{{message}}</h3>
        {% endfor %}
        <div class="cards">
        {% for matiere in matieres %}
            <div class="card">
                <h2>{{matiere.nom}}</h2>
                    <a href="{{ path('folder_matiere', {matiereid: matiere.id}) }}" class="button">
                        <p>Ouvrir</p>
                    </a>
            </div>
        {% endfor %}
                    

                    
        </div>   
    </section>

{% endblock %}