{% extends 'base.html.twig' %}
{% block body %}

  <div class="w-50">

    <h1 class="Actus textcenter">Mes informations</h1>

    <div class="CaseActus textcenter">
    
      <h3>Vous êtes connecté en tant que {{app.user.nom}} {{app.user.prenom}}</h3>

      <h3>Votre adresse mail est {{app.user.email}}</h3>

      {% if is_granted('ROLE_ELEVE') %}
        <h3>Vous êtes en {{app.user.nom}}</h3>
      {% endif %}

      <h3>
        <div class="signup_link">
          <a id="logout" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
      </h3>

  </div>

{% endblock %}