<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EssentialSup</title>
    <link rel="stylesheet" href="{{ asset('css/style-login.css') }}">
  </head>

  <body>

    <div class="center">

      <h1>Inscription</h1>

      {{  form_start(registrationForm) }}

        <div class="txt_field">
          <span>Adresse Email:</span>
          {{ form_row(registrationForm.email, {label: ' '}) }}
        </div>

        <div class="txt_field">
          <span>Nom:</span>
          {{ form_row(registrationForm.nom, {label: ' '}) }}
        </div>

        <div class="txt_field">
          <span>Prénom:</span>
          {{ form_row(registrationForm.prenom, {label: ' '}) }}
        </div>

        <div class="txt_field">
          <span>Mot de passe:</span>
          {{ form_row(registrationForm.plainPassword, {label: ' '}) }}
        </div>

        <div class="agree">
          <label>{{ form_row(registrationForm.agreeTerms, {label: "J'accepte les termes d'utilisation"}) }}</label>
        </div>
        
        </br>

        <input type="submit" value="S'inscrire">
        <div class="signup_link">
          Déjà un compte ? <a id="login" href="{{ path("app_login") }}">Connnectez-vous</a>
        </div>
        
    {{  form_end(registrationForm) }}
  </body>

</html>