<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EssentialSup</title>
    <link rel="stylesheet" href="{{ asset('css/style_login.css') }}">
  </head>
  <body>
    <div class="center">
      <h1>Inscription</h1>

      {{  form_start(registrationForm) }}

        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>{{  form_row(registrationForm.email, {label: 'Adresse Email'}) }} </label>
        </div>

        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>{{  form_row(registrationForm.nom, {label: 'Nom'}) }} </label>
        </div>

        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>{{  form_row(registrationForm.prenom, {label: 'Prénom'}) }} </label>
        </div>

        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>{{  form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }} </label>
        </div>

        <div class="agree">
          <label>{{ form_row(registrationForm.agreeTerms, {label: "J'accepte les termes d'utilisation"}) }}</label>
        </div>

        <br>

        <input type="submit" value="S'inscrire">
        <div class="signup_link">
          Déjà un compte ? <a id="login" href="{{ path("app_login") }}">Connnectez-vous</a>
        </div>
        
    {{  form_end(registrationForm) }}
  </body>

</html>