{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/style-upload.css') }}">

{{ form_start(form) }}

    <div class="center">
        <h1>Ajoutez un fichier:</h1>
        
        <div class="txt_field">
        
            {{ form_row(form.upload)}}
        </div>

        {{ form_end(form) }}
        <br>
        <a id="menu" href="{{ path('folder') }}">Revenir sur les fichiers</a>
    </div>

{% endblock %}
