{% extends 'base.html.twig' %}

{% block body %}
<!--
<h1>Liste de toute les ressources</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Extension</th>
            <th>chemin d'accès</th>
            <th>ID matière</th>
            <th>Date de mise en ligne</th>
        </thead>
        <tbody>
            
            {% for ressource in ressources %}
                <tr>
                    <td>{{ ressource.id }}</td>
                    <td>{{ ressource.name }}</td>
                    <td>{{ ressource.extension }}</td>
                    <td>{{ ressource.path }}</td>
                    {% if ressource.matiere %}
                        <td>{{ ressource.matiere }}</td>
                    {% else %}
                        <td>non défini</td>
                    {% endif %}
                    <td>{{ ressource.date | format_datetime('short', 'short', locale='fr') }}</td>
                </tr>
            
            {% else %}
                <p>Aucune ressource n'a été mise en ligne pour le moment</p>
            {% endfor %}
        </tbody>
    </table>
-->

    {% for ressource in ressources %}
        <div style = "border: solid;">
            <p>Id : {{ ressource.id }}</p>
            <p>Nom : {{ ressource.name }}</p>
            <p>Extension : {{ ressource.extension }}</p>
            <p>Chemin d'accès : {{ ressource.path }}</p>
            <p>Matière : 
            {% if ressource.matiere %}
                {{ ressource.matiere }}
            {% else %}
                non défini
            {% endif %}
            </p>
            <p>Date de mise en ligne {{ ressource.date | format_datetime('short', 'short', locale='fr') }}</p>
        </div>
    {% endfor %}








{% endblock %}