{% extends '/admin/base.html.twig' %}
{% block menu %}
<div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{path("admin_home")}}" ><span class="uil uil-home"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{{path("admin_userlist")}}" ><span class="uil uil-user"></span>
                        <span>Utilisateurs</span></a>
                </li>
                <li>
                    <a href="{{path("admin_classelist")}}"><span class="uil uil-books" ></span>
                        <span>Classe</span></a>
                </li>
                <li>
                    <a href="{{path ("admin_filelist")}}" class="active"><span class="uil uil-folder"></span>
                        <span>Ressource</span></a>
                </li>
            </ul>
        </div>
{% endblock %}

{% block body %}
<main>
    <div class="recent-grid2">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>Table des utilisateurs</h3>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table width="100%">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Nom</td>
                                <td>Extension</td>
                                <td>Chemin d'accès</td>
                                <td>Matière</td>
                                <td>Date d'ajout</td>
                                <td>Supprimer</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ressource in ressources %}
                            <tr>
                                <td id="userId">{{ ressource.id }}</td>
                                <td id="userEmail">{{ ressource.name }}</td>
                                <td>{{ ressource.extension }}</td>
                                <td>{{ ressource.path }}</td>
                                {% if ressource.matiere %}
                                    <td>{{ ressource.matiere }}</td>
                                {% else %}
                                    <td>non défini</td>
                                {% endif %}
                                <td>{{ ressource.date | format_datetime('short', 'short', locale='fr') }}</td>
                                <td>
                                    <div class="contact">
                                        <a href ="{{ path("admin_filelist_remove", {'id': ressource.id}) }}" class="uil uil-trash-alt" id="togg2"></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
                
{% endblock %}

