{% extends '/admin/base.html.twig' %}
{% block menu %}
<div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{path("admin_home")}}" class="active"><span class="uil uil-home"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{{path("admin_userlist")}}" class=""><span class="uil uil-user"></span>
                        <span>Utilisateurs</span></a>
                </li>
                <li>
                    <a href="{{path("admin_classelist")}}"><span class="uil uil-books"></span>
                        <span>Classe</span></a>
                </li>
                <li>
                    <a href="{{path ("admin_filelist")}}"><span class="uil uil-clipboard-alt"></span>
                        <span>Ressource</span></a>
                </li>
                <li>
                    <a href="{{path ("home")}}"><span class="il uil-arrow-left"></span>
                        <span>Retour EssentialSup</span></a>
                </li>
            </ul>
        </div>
{% endblock %}

{% block body %}
 <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h1> {{ eleves|length }} </h1>
                        <span>Élèves</span>
                    </div>
                        
                    <div>
                        <span class="uil uil-user"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{ professeurs|length }}</h1>
                        <span>Professeurs</span>
                    </div>
                    <div>
                        <span class="uil uil-user-md"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{ classes|length }}</h1>
                        <span>Classes</span>
                    </div>
                    <div>
                        <span class="uil uil-books"></span>
                    </div>
                </div>

                <div class="card-single">
                    <div>
                        <h1>{{ ressources|length }}</h1>
                        <span>Ressources</span>
                    </div>
                    <div>
                        <span class="uil uil-clipboard-alt"></span>
                    </div>
                </div>
            </div>

            <div class="recent-grid">
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h3>Table des utilisateurs</h3>

                            <a class="button"href="{{path("admin_userlist")}}">Voir tout <span class="uil uil-folder-open"></span></a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Email</td>
                                            <td>Statut</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for user in users %}
                                            <tr>
                                                <td id="userId">{{ user.id }}</td>
                                                <td id="userEmail">{{ user.email }}</td>
                                                <td>
                                                    {% for role in user.roles %}
                                                        {% if role == "ROLE_USER" %}
                                                            Utilisateur<span class="status grey"></span>
                                                        {% elseif role == "ROLE_ADMIN" %}
                                                            Administrateur <span class="status orange"></span>
                                                        {% elseif role == "ROLE_TEACHER" %}
                                                            Professeur <span class="status purple"></span>
                                                        {% elseif role == "ROLE_ELEVE" %}
                                                            Élève <span class="status green"></span>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cutomers">
                    <div class="card">
                        <div class="card-header">
                            <h3>Table des classes</h3>

                            <a class="button"href="{{path("admin_classelist")}}">Voir tout <span class="uil uil-folder-open"></span></a>
                        </div>

                        <div class="card-body">
                        {% for classe in classes %}
                            <div class="customer">
                                <div class="info">

                                        <i class="uil uil-user icone"></i>
                                        <div>
                                            <h4>{{classe.libelle}}</h4>
                                            <small>ID: [{{classe.id}}]</small>
                                        </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

        </main>
    </div>
    
{% endblock %}